html{
    background-image: url(img/fuckteam.jpg);
    background-size: cover;

}
img{
    position:absolute;
}
#baiviet{
    width: 500px;
    height: 700px;
    background-image: url(img/baiviet.jpg);
    border-radius: 20px;
}
#cmt1{
    left: 520px;
    border-radius: 20px;
    width: 450px;
    
}
#cmt2{
    left: 700px;
    border-radius: 20px;
    width: 450px;
    top:240px;
    
}
#cmt3{
    left: 520px;
    border-radius: 20px;
    width: 450px;
    top:400px;
    
}
#cmt4{
    left: 980px;
    border-radius: 20px;
    width: 450px;
    top:100px; 
    
    
}
#cmt5{
    left: 980px;
    border-radius: 20px;
    width: 450px;
    top:390px;
    
    
}
#cmt6{
    left: 925px;
    border-radius: 20px;
    width: 450px;
    top:590px;
    
    
}
#sliderbar{
	width: 220px;
	height: 50px;
	border-radius: 50px;
	background-color: rgba(66, 66, 66, 0.863);
	position:absolute;
	top: 18px;
	left: 84%;
}
#btn1,#btn2,#btn3,#btn4,#btn5{
	width: 49px;
	height: 49px;
	background-color: rgba(66, 66, 66, 0.063);
	font-size: 30px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor:pointer;
	position: relative;
	z-index: 100;
	color: wheat;
	left: 5px;
}
#btn1:hover,#btn2:hover,#btn3:hover,#btn4:hover,#btn5:hover,#btn21:hover,#btn22:hover,#btn23:hover,#btn24:hover{

	color: orange;
}
.cach1{
	width: 35px;
	height: 2px;
	background-color: wheat;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 5px;
}
.cach2{
	width: 35px;
	height: 2px;
	background-color: wheat;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 5px;
	top: 51px;
}
.cach3{
	width: 35px;
	height: 2px;
	background-color: wheat;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 5px;
	top: 101px;
}
.cach4{
	width: 35px;
	height: 2px;
	background-color: wheat;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 5px;
	top: 151px;
}
#btn1 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 5px;

}
#btn2 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 8px;

}
#btn3 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 8px;

}
#btn4 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 8px;

}
#btn21{
	width: 49px;
	height: 49px;
	background-color: rgba(66, 66, 66, 0.063);
	font-size: 30px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor:pointer;
	position: absolute;
	z-index: 100;
	color: wheat;
    top: 50px;
	display: block;
}
#btn22{
	width: 49px;
	height: 49px;
	background-color: rgba(66, 66, 66, 0.063);
	font-size: 30px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor:pointer;
	position: absolute;
	z-index: 100;
	color: wheat;

	display: block;
}
#btn23{
	width: 49px;
	height: 49px;
	background-color: rgba(66, 66, 66, 0.063);
	font-size: 30px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor:pointer;
	position: absolute;
	z-index: 100;
	color: wheat;
    top: 100px;
	display: block;
}
#btn24{
	width: 49px;
	height: 49px;
	background-color: rgba(66, 66, 66, 0.063);
	font-size: 30px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor:pointer;
	position: absolute;
	z-index: 100;
	color: wheat;
	top: 150px;

	display: block;
}
#btn22 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 10px;

}
#btn21 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 10px;

}
#btn23 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 10px;

}
#btn24 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 10px;

}
#btn2:hover #btn2bar{
	background-color: rgba(66, 66, 66, 0.863);
	display:block;

}
#btn2bar{
	width: 49px;
	height: 205px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: rgba(66, 66, 66, 0.863);
	position:absolute;
	top: 50px;
	display: none;
}
/* #btn5 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 8px;

} */
.cach{
	height: 35px;
	width: 2px;
	background-color: wheat;
	position: absolute;
	top: 7px;
}
#nav{
	margin: 0 0 ;
	padding: 0 0;
}
#nav li{
	margin: 0 0 ;
	padding: 0 0;
	display: inline-block;
}
*::-webkit-scrollbar { 
    display: none; 
}