html{
	background-image: url(img/foodback.gif);
	background-size: cover;
}
#sliderbar{
	width: 220px;
	height: 50px;
	border-radius: 50px;
	background-color: rgba(66, 66, 66, 0.863);
	position:absolute;
	top: 18px;
	left: 84%;
}
#btn1,#btn2,#btn3,#btn4,#btn5{
	width: 49px;
	height: 49px;
	background-color: rgba(66, 66, 66, 0.063);
	font-size: 30px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor:pointer;
	position: relative;
	z-index: 100;
	color: wheat;
	left: 5px;
}
#btn1:hover,#btn2:hover,#btn3:hover,#btn4:hover,#btn5:hover,#btn21:hover,#btn22:hover,#btn23:hover,#btn24:hover{

	color: orange;
}
.cach1{
	width: 35px;
	height: 2px;
	background-color: wheat;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 5px;
}
.cach2{
	width: 35px;
	height: 2px;
	background-color: wheat;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 5px;
	top: 51px;
}
.cach3{
	width: 35px;
	height: 2px;
	background-color: wheat;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 5px;
	top: 101px;
}
.cach4{
	width: 35px;
	height: 2px;
	background-color: wheat;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 5px;
	top: 151px;
}
#btn1 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 5px;

}
#btn2 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 8px;

}
#btn3 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 8px;

}
#btn4 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 8px;

}
#btn21{
	width: 49px;
	height: 49px;
	background-color: rgba(66, 66, 66, 0.063);
	font-size: 30px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor:pointer;
	position: absolute;
	z-index: 100;
	color: wheat;
    top: 50px;
	display: block;
}
#btn22{
	width: 49px;
	height: 49px;
	background-color: rgba(66, 66, 66, 0.063);
	font-size: 30px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor:pointer;
	position: absolute;
	z-index: 100;
	color: wheat;

	display: block;
}
#btn23{
	width: 49px;
	height: 49px;
	background-color: rgba(66, 66, 66, 0.063);
	font-size: 30px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor:pointer;
	position: absolute;
	z-index: 100;
	color: wheat;
    top: 100px;
	display: block;
}
#btn24{
	width: 49px;
	height: 49px;
	background-color: rgba(66, 66, 66, 0.063);
	font-size: 30px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor:pointer;
	position: absolute;
	z-index: 100;
	color: wheat;
	top: 150px;

	display: block;
}
#btn22 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 10px;

}
#btn21 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 10px;

}
#btn23 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 10px;

}
#btn24 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 10px;

}
#btn2:hover #btn2bar{
	background-color: rgba(66, 66, 66, 0.863);
	display:block;

}
#btn2bar{
	width: 49px;
	height: 205px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: rgba(66, 66, 66, 0.863);
	position:absolute;
	top: 50px;
	display: none;
}
/* #btn5 i{
	display:flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	position:absolute;
	top: 10px;
	left: 8px;

} */
.cach{
	height: 35px;
	width: 2px;
	background-color: wheat;
	position: absolute;
	top: 7px;
}
#nav{
	margin: 0 0 ;
	padding: 0 0;
}
#nav li{
	margin: 0 0 ;
	padding: 0 0;
	display: inline-block;
}
#SWOT{
	width: 350px;
	height: 80px;
	background-color: rgba(236, 234, 129, 0.912);
	position:absolute;
	top: 100px;
	border-radius: 50px;
	top: 1%;
    left: 40%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 30px;
}
#SWOT h1{
    position:relative;
    top: -30px;

}
#S{
    width: 220px;
    height: 230px;
    background-color: rgb(133, 197, 103);
      border-bottom-left-radius: 80px;
      border-top-right-radius: 80px;
    position:absolute;
    top: 200px;
    left: 200px;
    font-size: 40px;
}
#Sc{
    font-size: 70px;
    position:absolute;
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 100px;
    text-align: center;
    top: 90px;
    left: 120px;
    z-index: 10;
}
#Sc h1{
    position: relative;
    top: -95px;
    z-index: 10;
}
#Sc h2{
    background-color: yellow;
    width: 250px;
    position: relative;
    top: -295px;
    border-radius: 50px;
    font-size: 50px;
    z-index: 5;
    left: 90px ;
}
#tongS{
    position: relative;
    left: -110px;
    font: 1em sans-serif;
}
#W{
    width: 220px;
    height: 320px;
    background-color: rgb(197, 125, 103);
      border-bottom-left-radius: 80px;
      border-top-right-radius: 80px;
    position:absolute;
    top: 200px;
    left: 200px;
    font-size: 40px;
}
#Wc{
    font-size: 65px;
    position:absolute;
    width: 150px;
    height: 150px;
    background-color: pink;
    border-radius: 100px;
    text-align: center;
    top: 90px;
    left: 120px;
    z-index: 10;
}
#Wc h1{
    position: relative;
    top: -80px;
    z-index: 10;
}
#Wc h2{
    background-color: pink;
    width: 260px;
    position: relative;
    top: -265px;
    border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
    font-size: 50px;
    z-index: 5;
    left: 122px ;
}
#tongW{
    position: relative;
    left:235px;
    font: 1em sans-serif;
    top: 120px;
}
#O{
    width: 220px;
    height: 450px;
    background-color: rgb(172, 127, 209);
      border-bottom-left-radius: 80px;
      border-top-right-radius: 80px;
    position:absolute;
    top: 200px;
    left: 200px;
    font-size: 40px;
}
#Oc{
    font-size: 65px;
    position:absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(241, 117, 0);
    border-radius: 100px;
    text-align: center;
    top: 90px;
    left: 120px;
    z-index: 10;
}
#Oc h1{
    position: relative;
    top: -80px;
    z-index: 10;
}
#Oc h2{
    background-color: rgb(241, 117, 0);
    width: 300px;
    position: relative;
    top: -265px;
    border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
    font-size: 50px;
    z-index: 5;
    left: 122px ;
}
#tongO{
    position: relative;
    left:600px;
    font: 1em sans-serif;
	top: -0px;

}
#T{
    width: 220px;
    height: 300px;
    background-color: rgb(188, 197, 103);
      border-bottom-left-radius: 80px;
      border-top-right-radius: 80px;
    position:absolute;
    top: 200px;
    left: 200px;
    font-size: 40px;
}
#Tc{
    font-size: 65px;
    position:absolute;
    width: 150px;
    height: 150px;
    background-color: greenyellow;
    border-radius: 100px;
    text-align: center;
    top: 90px;
    left: 120px;
    z-index: 10;
}
#Tc h1{
    position: relative;
    top: -80px;
    z-index: 10;
}
#Tc h2{
    background-color: greenyellow;
    width: 160px;
    position: relative;
    top: -265px;
    border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
    font-size: 50px;
    z-index: 5;
    left: 97px ;
}
#tongT{
    position: relative;
    left:930px;
    font: 1em sans-serif;
	top: 150px;

}
*::-webkit-scrollbar { 
    display: none; 
}